In [1]:
#python list
[1,3,True,6.5,'som']

[1, 3, True, 6.5, 'som']

In [4]:
#operations that can be done to list include indexing , concatenation, repetition, membership , length and slicing
mylist = [0] * 6 #repetition
mylist

[0, 0, 0, 0, 0, 0]

In [5]:
mylist[1:3] #indexing

[0, 0]

One very important side relating to the repetition operator is that the result is a repetition of references to the data objects in the sequence. This can best be seen by considering the following session:

In [6]:
myList = [1,2,3,4]
A = [myList]*3
print(A)
myList[2]=45
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

The variable A holds a collection of three references to the original list called myList. Note that a change to one element of myList shows up in all three occurrences in A.

    append	alist.append(item)	Adds a new item to the end of a list
    insert	alist.insert(i,item)	Inserts an item at the ith position in a list
    pop	alist.pop()	Removes and returns the last item in a list
    pop	alist.pop(i)	Removes and returns the ith item in a list
    sort	alist.sort()	Modifies a list to be sorted
    reverse	alist.reverse()	Modifies a list to be in reverse order
    del	del alist[i]	Deletes the item in the ith position
    index	alist.index(item)	Returns the index of the first occurrence of item
    count	alist.count(item)	Returns the number of occurrences of item
    remove	alist.remove(item)	Removes the first occurrence of item

In [18]:
mylist=[1,2,3,4,5,6,7,8]
del mylist[5]
print(mylist)
mylist.append(9)
print(mylist)
mylist.reverse()
print(mylist)
mylist.append(8)
mylist.append(9)
print(mylist)
mylist.remove(9)
print(mylist)
mylist.count(8)

[1, 2, 3, 4, 5, 7, 8]
[1, 2, 3, 4, 5, 7, 8, 9]
[9, 8, 7, 5, 4, 3, 2, 1]
[9, 8, 7, 5, 4, 3, 2, 1, 8, 9]
[8, 7, 5, 4, 3, 2, 1, 8, 9]

2


The range object represents a sequence of integers. By default, it will start with 0. If you provide more parameters, it will start and end at particular points and can even skip items. In our first example, range(10), the sequence starts with 0 and goes up to but does not include 10. In our second example, range(5,10) starts at 5 and goes up to but not including 10. range(5,10,2) performs similarly but skips by twos (again, 10 is not included).

In [19]:
range(10,1,-1)

range(10, 1, -1)

In [20]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

String Operations

    center	astring.center(w)	Returns a string centered in a field of size w
    count	astring.count(item)	Returns the number of occurrences of item in the string
    ljust	astring.ljust(w)	Returns a string left-justified in a field of size w
    lower	astring.lower()	Returns a string in all lowercase
    rjust	astring.rjust(w)	Returns a string right-justified in a field of size w
    find	astring.find(item)	Returns the index of the first occurrence of item
    split	astring.split(schar)	Splits a string into substrings at schar

In [26]:
mystr= "soumya"
mystr.rjust(10,"x")

'xxxxsoumya'

A major difference between lists and strings is that lists can be modified while strings cannot. This is referred to as mutability. Lists are mutable; strings are immutable.

Tuples are very similar to lists in that they are heterogeneous sequences of data. The difference is that a tuple is immutable, like a string. A tuple cannot be changed. Tuples are written as comma-delimited values enclosed in parentheses. As sequences, they can use any operation described above.

In [36]:
#tuple
mytuple = (2, True, 4.96)
mytuple[1:3]

(True, 4.96)

In [37]:
len(mytuple)

3

A set is an unordered collection of zero or more immutable Python data objects. Sets do not allow duplicates and are written as comma-delimited values enclosed in curly braces. The empty set is represented by set(). Sets are heterogeneous, and the collection can be assigned to a variable as below

In [38]:
#set
{3,6,"cat",4.5,False}

{3, 4.5, 6, False, 'cat'}

In [40]:
myset={3,6,"cat",4.5,False}
myset

{3, 4.5, 6, False, 'cat'}

Even though sets are not considered to be sequential, they do support a few of the familiar operations presented earlier.

    membership	in	Set membership
    length	len	Returns the cardinality of the set
    |	aset | otherset	Returns a new set with all elements from both sets
    &	aset & otherset	Returns a new set with only those elements common to both sets
    -	aset - otherset	Returns a new set with all items from the first set not in second
    <=	aset <= otherset	Asks whether all elements of the first set are in the second

In [41]:
yourset = {3, 4.5, 6, False, 'cat','som'}

In [42]:
myset.pop()

False

In [43]:
myset

{3, 4.5, 6, 'cat'}

Dictionary

In [1]:
import ast,sys
input_str = sys.

SyntaxError: invalid syntax (2129587443.py, line 2)

In [2]:
%config IPCompleter.greedy=True